body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}
.navbar{
  line-height: 70px;
  display: block;
  background: #333;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 7px 10px;
}
.navbar .logo{
  float: left;
}
.lg-font{
  font-size: 1.5em;
}
.copyright{
  display: inline-block;
}
a {
    color: #75b4e5;
    text-decoration: none;
}
ul {
  list-style: none;
  float: right;
  display: flex;
  margin: 0px;
}
li > a {
  margin-left: 8px;
}
.main{
  background-image: url(img/background.png);
  background-size: cover;
}
h1{
  padding: 14px 32px;
  font-weight: 900;
  margin: 30px;
}
.main .mid{
  padding: 100px 100px;
  text-align: center;
}
.desc{
  margin: 50px 100px;
}
.wider-desc{
  margin: 50px 50px;
}
.textbox{
  border-radius: .25rem;
  padding: 14px 10px 16px;
  font-size: 1.25rem;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
}
.btn{
  border-radius: .25rem;
  padding: 14px 32px 16px;
  font-size: 1.25rem;
}

.footer{
  bottom: 0px;
  font-size: .75em;
  background: #333;
  width: 100%;
}
.footer-div {
  padding: 20px;
  line-height: 70px;
}

.footer-div > ul {
  font-size: 2em;
}

@media only screen and (max-width: 640px) {
  input[type=checkbox] {
    display: none;
  }
  [type=checkbox]:checked ~ label {
      z-index: 2;
  }
  [type=checkbox]:checked ~ label ~ .menu-content {
      z-index: 1;
      opacity: 1;
      height: 100%;
      display: block;
  }

  label{
    cursor: pointer;
  }

  #close-menu {
      z-index: -1;
      top: 0px;
      color: #333
  }

  [type=checkbox]:checked ~ label ~ #close-menu {
      z-index: 3;
  }
  .main .mid{
    padding: 30px 10px;
    width: 100%;
  }
  .menu {
    float: right;
    display: flex;
  }
  .large-menu{
    display: none;
  }
  .menu-content{
    opacity: 0;
    height: 0px;
    display: block;
    text-align: center;
  }
  ul {
    list-style: none;
    float: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    z-index: 90px;
  }
  li > a {
    margin-left: 0px;
  }
  .copyright{
    display: block;
  }
  footer {
    text-align: center;
  }
  .navbar{
    text-align: center;
  }

}
