body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}
.menu{
  display: inline;
  position: relative;
}
.menu-content{
  display: inline;
}
.navbar{
  line-height: 70px;
  display: block;
  background: #333;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 7px 10px;
  height: 70px;
}
.navbar .logo{
  float: left;
}
.lg-font{
  font-size: 1.5em;
}
.copyright{
  display: inline-block;
}
.footer-div{
  padding: 0px 30px;
}
a {
    color: #75b4e5;
    text-decoration: none;
}
ul {
  list-style: none;
  float: right;
  display: flex;
  margin: 0px;
  background: #333;
  border-radius: 10px;
}
li > a {
  margin-left: 8px;
}
.main{
  background-image: url(img/background.png);
  background-size: cover;
}
h1{
  padding: 14px 32px;
  font-weight: 900;
  margin: 30px;
}
.main .mid{
  padding: 100px 100px;
  text-align: center;
  width: 60%;
  margin: auto;
}
.desc{
  margin: 50px 100px;
}
.wider-desc{
  margin: 50px 50px;
}
.textbox{
  border-radius: 8px;
  padding: 14px 10px 16px;
  font-size: 1.25rem;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
}
.btn{
  border-radius: 8px;
  border: 0px;
  background: #3ead5d;
  padding: 14px 32px 16px;
  font-size: 1.25rem;
  margin: 10px;
  color: #fff;
}

.footer{
  bottom: 0px;
  font-size: .75em;
  line-height: 70px;
  background: #333;
  width: 100%;
}

.footer-div > ul {
  font-size: 2em;
  line-height: 70px;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] ~ label {
  display: none;
}
@media only screen and (max-width: 640px) {
  input[type=checkbox] ~ label {
    display: inline;
    padding: 10px;
  }
  [type=checkbox]:checked ~ label {
      z-index: 2;
  }
  [type=checkbox]:checked ~ .menu-content {
      z-index: 300;
      opacity: 1;
      height: 100%;
      transition: .5s;
      margin-top: 10px;
      text-align: center;
  }
  label{
    cursor: pointer;
  }
  .main .mid{
    padding: 30px 10px;
    width: 100%;
  }
  .navbar{
    text-align: center;
  }
  .menu {
    display: block;
  }
  .large-menu{
    display: none;
  }
  .menu-content{
    opacity: 0;
    height: 0px;
    display: block; /* need for opacity and height */
  }
  ul {
    list-style: none;
    float: none;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    background: #333;
    border-radius: 10px;
  }
  li > a {
    margin-left: 0px;
  }
  .copyright{
    display: block;
  }
  footer {
    text-align: center;
  }
}
